{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class= "section">
      <a href="{{ url_for('display_customer') }}">Home</a>
    </div>
    <h2>Add Address to a Customer</h2>
    <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <div class="divider"></div>
      <div class="section">
        <p>
          Street:<br>
          {{ form.street(size=120) }}<br>
        </p>
        <p>
          City:<br>
          {{ form.city(size=120) }}<br>
        </p>
        <p>
          State:<br>
          {{ form.state(size=120) }}<br>
        </p>
        <p>
          Country:<br>
          {{ form.country(size=120) }}<br>
        </p>
        <p>
          Zip code:<br>
          {{ form.zip_code(size=120) }}<br>
        </p>
      </div>
      <p><input type="submit" value="Add Address"></p>
    </form>
  </div>
</div>
{% endblock %}
