/*Your mobile targeted css should go here*/

project-title{ 
	position: 50%; 
	width: 100%; 
	background: #bbb; 
	z-index:1; 
	height: 75px; 
	left: 0; 
	top:300px;
	}
	
h1 {
	font-size: 1.5em;
	width: 50%;
	padding: 20px;
}

nav {
	margin-left: 25%;
}

h3 {
	background: #03ff00
}

footer {
	background: #00ddb0
}

p {
    border: 5px solid red;
}

img {
	border: 5px solid blue;
	width: 97%
}

div {
	background-color: powderblue;
    width: 100%;
    align-content: center;
}